__pycache__
.ipynb_checkpoints

.vscode

.Rhistory

*.out

misc
logs

# latex:
latex/*.aux
latex/*.bbl
latex/*.blg
latex/*.dvi
latex/*.fdb_latexmk
latex/*.fls
latex/*.log
latex/*.nav
latex/*.out
latex/*.snm
latex/*.synctex.gz
latex/*.toc
latex/*.vrb
latex/*.xdv
latex/*.lof
latex/*.lot
latex/*.run.xml
